@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .debug {
        @apply border border-red-500;
    }

    .horizontal {
        @apply flex flex-row;
    }

    .vertical {
        @apply flex flex-col;
    }

    .center-v {
        @apply justify-center;
    }

    .center-h {
        @apply items-center;
    }

    .circle {
        @apply rounded-full shrink-0;
    }
}
