<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Go App</title>
    <link rel="stylesheet" href="/ui/static/css/style.css">
    <script type="module" src="/ui/static/js/datastar-1-0-0-beta-8-6ebd8eefd5e077e9.js"></script>
</head>
<body>
    <div id="app">
        <h1>Welcome to the Web UI</h1>
        <button data-on-click="@get('/ui/api/question')">Fetch a question</button>
        <div id="question"></div>
        <input type="text" data-bind-answer placeholder="Your answer">
        <button data-on-click="@post('/ui/api/submit')">Submit answer</button>
        <div id="result"></div>
    </div>
</body>
</html>
